
p {
  line-height: 1.5;
  margin: 0 0 1.2em;
}
  
ul {
  padding: 0 0 0 20px;
}

::selection {
  color: #fff;
  background: #0089ff;
}
  
::-moz-selection {
  color: #fff;
  background: #0089ff;
}

input {
  background-color: rgb(241, 243, 244);
  border: none;
  border-radius: 40px;
  caret-color: rgb(26, 115, 232);
  color: rgb(32, 33, 36);
  font-family: "Roboto", "Segoe UI", sans-serif;
  font-size: 16px;
  height: 45px;
  outline: none;
  padding-inline-end: 10px;
  padding-inline-start: 20px;
  width: calc(100% - 10px);
}

input::placeholder {
  color: rgba(32, 33, 36, 0.8);
}
  
.underline {
  border-bottom: 2px solid rgb(26, 115, 232);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity 120ms ease-out, width 0ms linear 180ms;
  width: 0;
}
  
input:focus + .underline {
  opacity: 1;
  transition: width 180ms ease-out, opacity 120ms ease-in;
  width: 100%;
}
  
.field-title.focused {
  color: rgb(26, 115, 232);
}
  
form {
  padding: 10px;
  text-align: center;
}